# Project files
.idea/
**/*.sublime-workspace

# Cache files
*.pyc
__pycache__/

# External dependencies
md/
!md/index.md
!md/error.md

# Build/run files
venv/
activate
instance/
dist/
build/
*.egg-info/
