@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville');
@import url('https://fonts.googleapis.com/css?family=Noto+Sans');

@font-face {
    font-family: 'Nodesto Caps Condensed';
    src: url('/static/solbera-dnd-fonts/Nodesto Caps Condensed/Nodesto Caps Condensed Bold.otf');
}

body {
    background: #000;
    font-family: 'Libre Baskerville', 'Lora', 'Calisto MT', 'Bookman Old Style', Bookman, 'Goudy Old Style', Garamond,
    'Hoefler Text', 'Bitstream Charter', Georgia, serif;
}

.breadcrumbs,
.breadcrumbs a {
    color: #fff;
}

header {
    font-family: 'Nodesto Caps Condensed', 'Libre Baskerville', 'Lora', 'Calisto MT', 'Bookman Old Style', Bookman,
    'Goudy Old Style', Garamond, 'Hoefler Text', 'Bitstream Charter', Georgia, serif;
    font-size: 3em;
    color: #fff;
}

section {
    padding: 1em 20px;
    margin-top: 1em;
    background: url('/static/background.jpg');
}

section:after {
    content: ' ';
    display: block;
    height: 50px;
    margin-bottom: -10px;
    background: url('/static/separator.gif') no-repeat bottom center;
    background-size: 20%;
}

section a {
    color: #8f3924;
}

section h1, section h2, section h3 {
    font-family: 'Libre Baskerville', 'Lora', 'Calisto MT', 'Bookman Old Style', Bookman, 'Goudy Old Style', Garamond,
    'Hoefler Text', 'Bitstream Charter', Georgia, serif;
    font-variant: small-caps;
    color: #682f2f;
}

section h2 {
    border-bottom: 2px solid #b29d6a;
}

section h3 {
    font-size: 1.5em;
}

section h4 {
    float: left;
    display: inline-block;
    font-family: 'Libre Baskerville', 'Lora', 'Calisto MT', 'Bookman Old Style', Bookman, 'Goudy Old Style', Garamond,
    'Hoefler Text', 'Bitstream Charter', Georgia, serif;
    font-size: 1rem;
    font-weight: bold;
    line-height: 1.5;
    margin: 0 .5rem 0 0;
}

section .table,
section .table tr,
section .table thead th,
section .table tbody td {
    border-width: 0;
    font-family: 'Noto Sans', 'Myriad Pro', Calibri, Helvetica, Arial, sans-serif;
}

section .table tbody td,
section .table thead th {
    padding-top: .25em;
    padding-bottom: .25em;
}

section .table tbody tr:nth-child(odd) {
    background: rgba(10, 100, 10, .15);
}
