@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville');
@import url('https://fonts.googleapis.com/css?family=Noto+Sans');

@font-face {
    font-family: 'Nodesto Caps Condensed';
    src: url('/static/solbera-dnd-fonts/Nodesto Caps Condensed/Nodesto Caps Condensed Bold.otf');
}

body {
    background: #000;
    font-family: 'Libre Baskerville', 'Lora', 'Calisto MT', 'Bookman Old Style', Bookman, 'Goudy Old Style', Garamond,
    'Hoefler Text', 'Bitstream Charter', Georgia, serif;
}

.breadcrumbs,
.breadcrumbs a {
    color: #fff;
}

header {
    font-family: 'Nodesto Caps Condensed', 'Libre Baskerville', 'Lora', 'Calisto MT', 'Bookman Old Style', Bookman,
    'Goudy Old Style', Garamond, 'Hoefler Text', 'Bitstream Charter', Georgia, serif;
    font-size: 3em;
    color: #fff;
}

section {
    padding: 1em 20px;
    margin-top: 1em;
    background: url('/static/background.jpg');
}

section:after {
    content: ' ';
    display: block;
    height: 50px;
    margin-bottom: -10px;
    background: url('/static/separator.gif') no-repeat bottom center;
    background-size: 20%;
}

section a {
    color: #8f3924;
}

section h1, section h2, section h3 {
    font-family: 'Libre Baskerville', 'Lora', 'Calisto MT', 'Bookman Old Style', Bookman, 'Goudy Old Style', Garamond,
    'Hoefler Text', 'Bitstream Charter', Georgia, serif;
    font-variant: small-caps;
    color: #682f2f;
}

section h2 {
    border-bottom: 2px solid #b29d6a;
}

section h3 {
    font-size: 1.5em;
}

section h4 {
    float: left;
    display: inline-block;
    font-family: 'Libre Baskerville', 'Lora', 'Calisto MT', 'Bookman Old Style', Bookman, 'Goudy Old Style', Garamond,
    'Hoefler Text', 'Bitstream Charter', Georgia, serif;
    font-size: 1rem;
    font-weight: bold;
    font-style: italic;
    line-height: 1.5;
    margin: 0 .5rem 0 0;
}

section h4:after {
    content: '.'
}

section blockquote {
    position: relative;
    margin: 1.3rem 0;
    border: .15rem solid black;
    border-left: none;
    border-right: none;
    padding: .3rem .75rem;
    background: rgba(210, 230, 190, 1);
    font-family: 'Noto Sans', 'Myriad Pro', Calibri, Helvetica, Arial, sans-serif;
    font-size: .9rem;
    line-height: 1.3;
    box-shadow: 0 .3rem .6rem rgba(0, 0, 0, .7);
}

section blockquote:before,
section blockquote:after,
section blockquote > :first-child:before,
section blockquote > :first-child:after {
    content: '';
    position: absolute;
    display: block;
    width: 1rem;
    height: .6rem;
    box-sizing: content-box;
}

section blockquote:before,
section blockquote:after {
    bottom: -.69rem;
    background: linear-gradient(to left bottom, black 45%, transparent 55%);
}

section blockquote > :first-child:before,
section blockquote > :first-child:after {
    top: -.69rem;
    background: linear-gradient(to left top, black 45%, transparent 55%);
    border-bottom: 1px solid black;
}

section blockquote:before,
section blockquote > :first-child:before {
    left: 0;
}

section blockquote:after,
section blockquote > :first-child:after {
    right: 0;
}

section blockquote:after {
    background: linear-gradient(to right bottom, black 45%, transparent 55%);
}

section blockquote > :first-child:after {
    background: linear-gradient(to right top, black 45%, transparent 55%);
}

section blockquote p,
section h3 {
    margin: 0;
}

section blockquote p + p {
    text-indent: 1rem;
}

section blockquote h3,
section blockquote h4 {
    font-family: inherit;
}

section blockquote h3 {
    margin-bottom: .3rem;
    font-size: .9rem;
    font-weight: bold;
    font-variant: normal;
    color: black;
}

section blockquote h4 {
    font-size: inherit;
    text-indent: 1rem;
}

section .table,
section .table tr,
section .table thead th,
section .table tbody td {
    border-width: 0;
    font-family: 'Noto Sans', 'Myriad Pro', Calibri, Helvetica, Arial, sans-serif;
}

section .table tbody td,
section .table thead th {
    padding: .25em .75em;
}

section .table tbody tr:nth-child(odd) {
    background: rgba(50, 200, 40, .12);
}
